
body{
    background-color: #474350;
}

.darkButton {
    background-color: #5D5866;
    color: #474350;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 30px;
}

.lightButton {
    border-radius: 30px;
    border: 2px solid #FFF;
    background: #FDFDFD;
}